@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Lot Sticker</title>
    <link href="~/css/sticker.css" rel="stylesheet" />
</head>
<body>

    <div class="sticker">
        <img src="@ViewBag.BarcodePath" alt="Barcode" />
        <div class="item-code">Lot# : @ViewBag.LotNumber</div>
        <div class="item-code">Item : @ViewBag.ItemName</div>
        <div class="item-code">
            &nbsp; Exp : @ViewBag.ExpiryDate
        </div>

    </div>

    <script>
        window.print();
    </script>

</body>
</html>

