@{
    ViewData["Title"] = "Home";
}
<div dir="rtl" class="text-center mb-2">
    <div class="card border-0" style="border-radius:0  0 0 80px;background-color:#032b42 !important ">
        <div class="card-body">
            <div class="text-center fs-1 text-white">
                <span class="text-center fs-1 fw-bold " style="color:#415E72 !important ">
                    الرئيسية
                    <i class="bi bi-house-check-fill pe-2 fs-3"></i>
                </span>
            </div>
        </div>
    </div>
</div>

