@model DashboardViewModel
@{
    ViewData["Title"] = "لوحة التحكم";
}
<div class="text-center">
    <div class="card border-0 pt-3" style="background-color:#032b42 !important; border-radius:0 0 0 80px ">
        <span class="text-center fs-1 fw-bold" style="color:#415E72 !important ">لوحة التحكم</span>
    </div>
</div>
<section class="text-center py-3 d-flex container-fluid justify-content-center mx-auto">
    
</section>