@model DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
}
<div class="text-center">
    <div class="card border-0 py-3" style="background-color:#032b42 !important; border-radius:0 0 75px 0 ">
        
        <span class="text-center fs-1 fw-bold" style="color:#415E72 !important ">
            <i class="bi bi-speedometer2 ps-2 fs-1"></i>
            Dashboard
        </span>
    </div>
</div>
<section class="text-center py-3 d-flex container-fluid justify-content-center mx-auto" dir="ltr">
</section>