@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

* {
    font-family: "Beiruti", serif;
    /*font-optical-sizing: auto;*/
    /*font-style: normal;*/
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/*--------------------- custom css---------------------------------*/


/* Style the full-page loader background */
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; /* White background */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    z-index: 99999; /* Ensure it's on top of other content */
    opacity: 1;
    transition: opacity 0.5s ease-out; /* Add fade-out transition */
}

/* Style the spinner animation (example: spinning circle) */
.spinner {
    border: 16px solid #f3f3f3; /* Light grey border */
    border-top: 16px solid #3498db; /* Blue border for the spinning part */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite; /* Apply the spin animation */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Class to hide the loader */
.hide-loader {
    opacity: 0;
    visibility: hidden; /* Hide completely after transition */
}


/* Active style */
.active {
    background-color: green !important; /* Use !important if needed to override default */
}

.cardBtn {
    /*background-color: #FE7743;*/
    background-color: #032b42;
    box-shadow: 0 0px 1px 1px #ffc78e, 0 1px 2px 1px #ff942977, 0 2px 6px 1px #e98b2d77, 0 4px 12px 0px #ff9e3d99, 0 12px 20px 12px #ff800044;
}

.crane {
    width: 30vw;
    margin-left: 35vw;
    position: absolute;
}

.overlay {
    position: absolute;
    margin-left: 43vw;
    margin-top: 37vh;
    width: auto;
    padding: 2px;
}



label,
input {
    cursor: pointer;
}

h2,
h3,
h4,
h5 {
    font-weight: 600;
    line-height: 1.3;
    color: #1f2949;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
    font-weight: 400;
}

img {
    max-width: 100%;
    display: block;
    vertical-align: middle;
}

.container {
    max-width: 99vw;
    margin: 15px auto;
    padding: 0 15px;
}

.top-text-wrapper {
    margin: 20px 0 30px 0;
}

    .top-text-wrapper h4 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .top-text-wrapper code {
        font-size: 0.85em;
        background: linear-gradient(90deg, #fce3ec, #ffe8cc);
        color: #ff2200;
        padding: 0.1rem 0.3rem 0.2rem;
        border-radius: 0.2rem;
    }

.tab-section-wrapper {
    padding: 30px 0;
}

.grid-wrapper {
    display: grid;
    grid-gap: 50px;
    place-items: center;
    place-content: center;
    position: absolute;
}

.grid-col-auto {
    grid-auto-flow: column;
    grid-template-rows: auto;
}

/* ******************* Main Styeles : Radio Card */
.imgWrap {
    display: inline-block;
    background-color: #f2978d; /* Default background */
    transition: background-color 0.5s ease; /* Optional: smooth transition */
}

    .imgWrap:hover {
        background-color: #EE7163; /* New background on hover */
    }

label.radio-card {
    /*cursor: pointer;*/
    .check-icon {
        width: 20px;
        height: 20px;
        display: block;
        border: solid 2px #e3e3e3;
        border-radius: 50%;
        box-shadow: 0 0px 1px 1px #ffc78e, 0 1px 2px 1px #ff942977, 0 2px 6px 1px #e98b2d77, 0 4px 12px 0px #ff9e3d99, 0 12px 20px 12px #ff800044;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            inset: 0;
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.93552 4.58423C0.890286 4.53718 0.854262 4.48209 0.829309 4.42179C0.779553 4.28741 0.779553 4.13965 0.829309 4.00527C0.853759 3.94471 0.889842 3.88952 0.93552 3.84283L1.68941 3.12018C1.73378 3.06821 1.7893 3.02692 1.85185 2.99939C1.91206 2.97215 1.97736 2.95796 2.04345 2.95774C2.11507 2.95635 2.18613 2.97056 2.2517 2.99939C2.31652 3.02822 2.3752 3.06922 2.42456 3.12018L4.69872 5.39851L9.58026 0.516971C9.62828 0.466328 9.68554 0.42533 9.74895 0.396182C9.81468 0.367844 9.88563 0.353653 9.95721 0.354531C10.0244 0.354903 10.0907 0.369582 10.1517 0.397592C10.2128 0.425602 10.2672 0.466298 10.3112 0.516971L11.0651 1.25003C11.1108 1.29672 11.1469 1.35191 11.1713 1.41247C11.2211 1.54686 11.2211 1.69461 11.1713 1.82899C11.1464 1.88929 11.1104 1.94439 11.0651 1.99143L5.06525 7.96007C5.02054 8.0122 4.96514 8.0541 4.90281 8.08294C4.76944 8.13802 4.61967 8.13802 4.4863 8.08294C4.42397 8.0541 4.36857 8.0122 4.32386 7.96007L0.93552 4.58423Z' fill='white'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-size: 12px;
            background-position: center center;
            transform: scale(1.6);
            opacity: 0;
        }
    }

    input[type='radio'] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        &:checked {
            + .card-content-wrapper {
                background-color: #FE7743;
                box-shadow: 0 0px 1px 1px #ffc78e, 0 1px 2px 1px #ff942977, 0 2px 6px 1px #e98b2d77, 0 4px 12px 0px #ff9e3d99, 0 12px 20px 12px #ff800044;

                .check-icon {
                    background: #10A136;
                    border-color: #10A136;
                    transform: scale(1.2);

                    &:before {
                        transform: scale(1);
                        opacity: 1;
                    }
                }
            }
        }

        &:focus {
            + .card-content-wrapper {
                .check-icon {
                    box-shadow: 0 0px 1px 1px #ffc78e, 0 1px 2px 1px #ff942977, 0 2px 6px 1px #e98b2d77, 0 4px 12px 0px #ff9e3d99, 0 12px 20px 12px #ff800044;
                }
            }
        }
    }
    /*-----Sidebar----------*/
    #side_nav {
        background: #000;
        min-width: 250px;
        max-width: 250px;
        transition: all 0.3s;
    }

    .content {
        min-height: 100vh;
        width: 100%;
    }

    hr.h-color {
        background: #eee;
    }

    .sidebar li.active {
        background: #eee;
        border-radius: 8px;
    }

        .sidebar li.active a, .sidebar li.active a:hover {
            color: #000;
        }

    .sidebar li a {
        color: #fff;
    }

    @media(max-width: 767px) {
        #side_nav {
            margin-left: -250px;
            position: absolute;
            min-height: 100vh;
            z-index: 1;
        }

            #side_nav.active {
                margin-left: 0;
            }
    }
}
/*--------------------- endcustom css---------------------------------*/
