@inject IAuthorizationService AuthorizationService
@inject UserManager<ApplicationUser> userManager
@model SupplierViewModel
@{
    ViewData["Title"] = Model?.NewSupplier?.Name;
}
<div class="card border-0 py-3" style="background-color:#032b42 !important; border-radius:0 0 75px 0 " dir="ltr">
    <div class="d-flex text-center mx-auto">
        <a asp-controller="Suppliers" asp-action="index" class="text-center fs-4 fw-bold text-decoration-none" style="color:#415E72 !important ">Suppliers</a>
        <i class="bi bi-chevron-double-right fw-bold fs-3 mt-2 mx-3" style="color:#415E72 !important"></i>
        <a class="text-center fs-1 fw-bold text-decoration-none" style="color:#415E72 !important ">@ViewData["Title"]</a>
    </div>
</div>
<section class="container-fluid " dir="ltr">
    <div class="row mb-2">
        <div class="col-12 d-flex">

            <div class="col-md-2 "></div>
            <div class="card col-md-8 col-12 border-0">
                <div class="card-body ">
                    <div class="accordion shadow mb-3 py-0" id="accordionExamplez">
                        <div class="accordion-item  bg-danger-subtle py-0">
                            <div class="accordion-header bg-danger-subtle d-flex py-0" id="header_z">
                                <div class="col-md-12">
                                    <button class=" collapsed  bg-danger-subtle w-100 border-0 py-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_z" aria-expanded="true" aria-controls="collapse_z">
                                        <span class="text-center fw-bolder fs-5">Supplier personal info</span><i class="mt-1 ms-2 bi bi-box-arrow-in-down"></i>
                                    </button>

                                </div>
                            </div>
                        </div>

                        <div id="collapse_z" class="accordion-collapse collapse" aria-labelledby="header_z" data-bs-parent="#accordionExample0">
                            <div class="accordion-body">
                                <div class="form-group mb-2">
                                    <div class="row">
                                        <div class="col-sm-4 col-4">
                                            <span class="input-group-text w-auto text-center px-3 fw-bold bg-info-subtle">Supplier Name</span>
                                        </div>
                                        <div class="col-sm-8 col-8">
                                            <input type="text" readonly class="form-control text-center p-1" value="@Model?.NewSupplier?.Name" />
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group mb-2">
                                    <div class="row">
                                        <div class="col-sm-4 col-4">
                                            <span class="input-group-text w-auto text-center px-3 fw-bold bg-info-subtle">Supplier Phone</span>
                                        </div>
                                        <div class="col-sm-8 col-8">
                                            <input type="text" readonly class="form-control text-center p-1" value="@Model?.NewSupplier?.Phone" />
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group mb-2">
                                    <div class="row">
                                        <div class="col-sm-4 col-4">
                                            <span class="input-group-text w-auto text-center px-3 fw-bold bg-info-subtle">Supplier Adress</span>
                                        </div>
                                        <div class="col-sm-8 col-8">
                                            <input type="text" readonly class="form-control text-center p-1" value="@Model?.NewSupplier?.Adress" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-2">
                                    <div class="row">
                                        <div class="col-sm-4 col-4">
                                            <span class="input-group-text w-auto text-center px-3 fw-bold bg-info-subtle">Supplier Email</span>
                                        </div>
                                        <div class="col-sm-8 col-8">
                                            <input type="text" readonly class="form-control text-center p-1" value="@Model?.NewSupplier?.Email" />
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="accordion shadow mb-3 py-0" id="accordionExample3">
                        <div class="accordion-item  bg-danger-subtle py-0">
                            <div class="accordion-header bg-dark-subtle d-flex py-0" id="header_three">
                                <div class="col-sm-12 col-12">
                                    <button class=" collapsed  bg-dark-subtle w-100 border-0 py-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_three" aria-expanded="false" aria-controls="collapse_three">
                                        <span class="text-center fw-bolder fs-5">Other info</span><i class="mt-1 ms-2 bi bi-box-arrow-in-down"></i>
                                    </button>

                                </div>
                            </div>
                        </div>
                        <div id="collapse_three" class="accordion-collapse collapse" aria-labelledby="header_three" data-bs-parent="#accordionExample3">
                            <div class="accordion-body">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 "></div>

        </div>
    </div>
</section>
@section Scripts {
    


}
